.query-creator {
    position: fixed;
    top: 25px;
    left: 25px;
    right: 25px;
    min-height: 30px;
    background: #fff;

    z-index: 100;
    border-radius: 3px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.2);

    white-space: nowrap;
    padding: 10px;
}

.query-creator .steps {
    display: flex;
}

.query-creator .step {
    width: 150px;
    padding-right: 7px;
    margin-right: 7px;
    border-right: solid 1px #eee;
}

.query-creator .node_circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #eee;
    display: inline-block;
}

.query-creator .ms-Dropdown-container {
    display: inline-block;
}

.query-creator .ms-Dropdown-title {
    border: none;
    height: 30px;
    line-height: 28px;
    padding: 0 8px;
}

.query-creator .ms-Dropdown-caretDownWrapper {
    display: none;
}

.ms-Callout {
    width: 200px;
}