maker {
    position: fixed;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    
    border-radius: 3px;
    background: #fff;
    user-select: none;
}

maker,
select {
    font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

maker * {
    box-sizing: border-box;
}

line {
    display: block;
    padding: 0 4px;
    line-height: 20px;
    cursor: pointer;
    opacity: 0.4;
}

line:hover {
    background: #fafafa;
    opacity: 0.5;
}

line:hover comment {
    display: inline-block;
    opacity: 0.75;
}

line[data-selected="true"] {
    opacity: 1;
}

line input {
    color: inherit;
}

comment {
    transition: opacity 0.2s;
    opacity: 0.2;
}

/*

.cm-comment {
    color: #999
}

.cm-punctuation {
    color: #555
}

.cm-keyword {
    color: #B11A04
}

.cm-def {
    color: #D2054E
}

.cm-property {
    color: #1F61A0
}

.cm-qualifier {
    color: #1C92A9
}

.cm-attribute {
    color: #8B2BB9
}

.cm-number {
    color: #2882F9
}

.cm-string {
    color: #D64292
}

.cm-builtin {
    color: #D47509
}

.cm-string-2 {
    color: #0B7FC7
}

.cm-variable {
    color: #397D13
}

.cm-atom {
    color: #CA9800
}
*/

group {
    display: block;
    padding-left: 20px;
}

comment {
    color: #999
}

root {
    color: #B11A04;
}

property {
    color: #1F61A0;
}

attribute {
    color: #8B2BB9;
}

string {
    color: #D64292;
}

number {
    color: #2882F9;
}

boolean {
    color: #D47509;
}

.input {
    border: none;
    width: auto;
    white-space: nowrap;
    padding: 2px 0 !important;
}

ocb, ccb, ob, cb, colon {
    display: inline-block;
}

line[data-selected="true"] check::before {
    content: '☑';
}

check::before {
    content: '☐';
    padding-right: 3px;
    color: inherit;
}

colon::before {
    content: ':';
}

comma::before {
    content: ',';
    padding-right: 5px;
}

ob::before {
    content: '(';
}

cb::before {
    content: ')';
}

ocb::before {
    content: '{';
    padding-left: 5px;
}

ccb::before {
    content: '}';
}