#context-menu .ms-Nav-navItems {
    margin: 0;
}

#context-menu .ms-Nav-groupContent {
    margin-bottom: 0;
    animation-name: none;
}

.ms-Checkbox-checkbox {
    width: 16px !important;
    height: 16px !important;
    margin-right: 0 !important;
}