body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.form {
  background: #fafafa;
  padding: 10px;
  margin: 20px;
  border: solid 1px #eee;
}

.ms-Fabric {
  padding: 20px;
}

.graph-ui-svg {
  background: #ebebeb;
}

.graph-ui-svg .node circle {
  cursor: pointer;
  stroke-width: 5px;
}

.graph-ui-svg .node text {
  transform: translate(20px, 5px);
}