@import "./styles/graph-editor.css";
@import "./styles/context-menu.css";
@import "./styles/fabric-overwrite.css";
@import "./styles/edit-entity.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body .app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

body .app,
input,
button,
label,
.ms-Dropdown-title {
  font-size: 12px !important;
}

input {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.ms-TextField-fieldGroup,
.ms-Dropdown-title {
  border-radius: 3px !important;
}

body .app .left {
  flex: 1;
  position: relative;
}

body .app .right {
  width: 300px;
  border-left: solid 1px #cdcdcd;
  box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.02), inset 1px 0 15px rgba(0, 0, 0, 0.05);
  background: #dedede;
  position: relative;
}

.select-hint {
  padding: 10px 15px;
  opacity: 0.4;
  user-select: none;
}